# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AutoChess/.vs/
AutoChess/Debug/
AutoChess/Release/
AutoChess/AutoChess/Debug/
AutoChess/AutoChess/Release/
AutoChess/AutoChess/x64/
TeamProject/TeamProject/imgui.ini
